.section-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: baseline;
    padding: 2rem;
}

.section-title {
    flex-shrink: 0;
    height: 0.5rem;
    text-align: left;
}

.section-paragraph {
    flex-shrink: 0;
    height: 5rem;
    text-align: left;
    white-space: pre-line;
    transition: opacity 300ms ease-in-out;

    &.fade-in {
        opacity: 1;
    }

    &.fade-out {
        opacity: 0;
    }

}

.search-input {
    width: 5rem;

    &:focus {
        width: 20rem;
    }
    transition: width 300ms;
}

.button-about-group {  
    flex-shrink: 0;
    height: 2rem;

    button {
        padding: 1rem 1rem;
        transition: all 300ms;
        border: none;

        &.active {
            background: #3a3a3a;
        }
        
        &.normal {
            background: #111111;
        }
    }

    button:first-of-type {
        border-radius: 1rem 0 0 1rem;
    }

    button:last-of-type {
        border-radius: 0 1rem 1rem 0;
    }
}