.section-container {
    left: 2%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: baseline;
    position: relative;
    padding: 2rem;
}

.section-title {
    flex-shrink: 0;
    height: 0.5rem;
    margin-bottom: 1rem;
    text-align: left;
}

.section-content {
    position: relative;
}

.section-paragraph {
    flex-shrink: 0;
    height: 5rem;
    width: 800px;
    text-align: left;
    white-space: pre-line;
    transition: opacity 300ms ease-in-out;

    &.fade-in {
        opacity: 1;
    }

    &.fade-out {
        opacity: 0;
    }

}

.button-about-group {  
    flex-shrink: 0;
    height: 2rem;

    button {
        font-size: medium;
        color: rgb(229, 231, 255);
        padding: 1rem 1rem;
        transition: all 300ms;
        border: none;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);

        &.active {
            background: #2c4897;
        }
        
        &.normal {
            background: #213075;
        }
    }

    button:first-of-type {
        border-radius: 1rem 0 0 1rem;
    }

    button:last-of-type {
        border-radius: 0 1rem 1rem 0;
    }
}

.about-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: auto;
    transform: translate(20rem, -8rem); /* move right 40px and up 20px */
}

/* Hide image on small screens */
@media (max-width: 910px) {
    .about-image {
        display: none;
    }
}